
.fey .fey-part, .fey .fey-part.__eye-container-left .__eye, .fey .fey-part.__eye-container-right .__eye, .fey .fey-part:before {
    background-size     : contain;
    background-repeat   : no-repeat;
    background-position : center
}

a img {
    border : none
}

.fey {
    top                     : -70px;
    margin                  : 0 auto;
    position                : relative;
    font-size               : 2.2em;
    width                   : 16em;
    height                  : 34em;
    display                 : -webkit-flex;
    display                 : -ms-flexbox;
    display                 : box;
    display                 : flex;
    -o-box-orient           : vertical;
    -webkit-flex-direction  : column;
    -ms-flex-direction      : column;
    flex-direction          : column;
    -o-box-align            : center;
    -ms-flex-align          : center;
    -webkit-align-items     : center;
    align-items             : center;
    -o-box-pack             : center;
    -ms-flex-pack           : center;
    -webkit-justify-content : center;
    justify-content         : center
}

.fey .fey-part {
    position       : absolute;
    transition     : -webkit-transform 1s;
    transition     : transform 1s;
    transition     : transform 1s, -webkit-transform 1s;
    pointer-events : none
}

.fey .fey-part:before {
    content  : '';
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%
}

.fey .fey-part.__body {
    position          : relative;
    width             : 5.2em;
    height            : 4.4em;
    -webkit-animation : fey-fly 2s infinite alternate both;
    animation         : fey-fly 2s infinite alternate both
}

.fey .fey-part.__body:before {
    z-index          : 2;
    background-image : url(../images/body.png)
}

.fey .fey-part.__ass {
    position                 : absolute;
    top                      : .3em;
    left                     : -1.8em;
    width                    : 3.1em;
    height                   : 3.1em;
    -webkit-transform-origin : 90% 80%;
    transform-origin         : 90% 80%;
    -webkit-animation        : fey-part 2.1s infinite alternate-reverse both;
    animation                : fey-part 2.1s infinite alternate-reverse both
}

.fey .fey-part.__ass:before {
    z-index          : 1;
    background-image : url(../images/ass.png)
}

.fey .fey-part.__leg-left-hip {
    position                 : absolute;
    top                      : 1.8em;
    left                     : -.5em;
    width                    : 3em;
    height                   : 3em;
    -webkit-transform-origin : 50% 20%;
    transform-origin         : 50% 20%;
    z-index                  : 1;
    -webkit-animation        : fey-part 2s infinite alternate both;
    animation                : fey-part 2s infinite alternate both;
    -webkit-animation-delay  : 1.5s;
    animation-delay          : 1.5s
}

.fey .fey-part.__leg-left-hip:before {
    background-image : url(../images/leg-left-hip.png)
}

.fey .fey-part.__leg-left {
    position                 : absolute;
    top                      : .7em;
    left                     : -1.4em;
    width                    : 2.6em;
    height                   : 2.6em;
    -webkit-transform-origin : 90% 70%;
    transform-origin         : 90% 70%;
    background-image         : url(../images/leg-left.png);
    z-index                  : -1;
    -webkit-animation        : fey-part 2.1s infinite alternate both;
    animation                : fey-part 2.1s infinite alternate both;
    -webkit-animation-delay  : 1s;
    animation-delay          : 1s
}

.fey .fey-part.__leg-right {
    position                 : absolute;
    top                      : 2.1em;
    left                     : .5em;
    width                    : 3em;
    height                   : 3em;
    -webkit-transform-origin : 60% 10%;
    transform-origin         : 60% 10%;
    background-image         : url(../images/leg-right.png);
    -webkit-animation        : fey-part 1.5s infinite alternate both;
    animation                : fey-part 1.5s infinite alternate both
}

.fey .fey-part.__arm-left {
    position                 : absolute;
    top                      : .7em;
    right                    : -2.7em;
    width                    : 5.5em;
    height                   : 5.5em;
    -webkit-transform-origin : 5% 10%;
    transform-origin         : 5% 10%;
    background-image         : url(../images/arm-left.png);
    z-index                  : 2;
    -webkit-animation        : fey-arm-left 1.2s infinite alternate both;
    animation                : fey-arm-left 1.2s infinite alternate both
}

.fey .fey-part.__arm-right {
    position                 : absolute;
    top                      : -.5em;
    right                    : -7em;
    width                    : 6em;
    height                   : 6em;
    -webkit-transform-origin : -5% 25%;
    transform-origin         : -5% 25%;
    background-image         : url(../images/arm-right.png);
    z-index                  : 1;
    -webkit-animation        : fey-arm-right 4s infinite alternate-reverse both;
    animation                : fey-arm-right 4s infinite alternate-reverse both
}

.fey .fey-part.__head {
    position                 : absolute;
    top                      : -8.1em;
    right                    : -5.2em;
    width                    : 11em;
    height                   : 11em;
    background-image         : url(../images/head.png);
    z-index                  : 2;
    -webkit-transform-origin : 50% 90%;
    transform-origin         : 50% 90%;
    -webkit-animation        : fey-head 1.8s infinite alternate both;
    animation                : fey-head 1.8s infinite alternate both
}

.fey .fey-part.__hear {
    position                 : absolute;
    top                      : -.7em;
    left                     : 3.8em;
    width                    : 5em;
    height                   : 5em;
    background-image         : url(../images/hear.png);
    z-index                  : 3;
    -webkit-transform-origin : 40% 20%;
    transform-origin         : 40% 20%;
    -webkit-animation        : fey-hear 2s infinite alternate both;
    animation                : fey-hear 2s infinite alternate both;
    -webkit-animation-delay  : .5s;
    animation-delay          : .5s
}

.fey .fey-part.__crown {
    position                 : absolute;
    top                      : -4.9em;
    left                     : 2.2em;
    width                    : 5em;
    height                   : 5em;
    background-image         : url(../images/crown.png);
    z-index                  : 2;
    -webkit-transform-origin : 65% 130%;
    transform-origin         : 65% 130%;
    -webkit-animation        : fey-crown 2s infinite alternate both;
    animation                : fey-crown 2s infinite alternate both;
    -webkit-animation-delay  : 1s;
    animation-delay          : 1s
}

.fey .fey-part.__toy1 {
    position                 : absolute;
    top                      : 5.6em;
    left                     : .9em;
    width                    : 1.3em;
    height                   : 1.3em;
    background-image         : url(../images/toy1.png);
    z-index                  : 2;
    -webkit-transform-origin : 80% 0;
    transform-origin         : 80% 0
}

.fey .fey-part.__toy2 {
    position                 : absolute;
    top                      : 7.2em;
    left                     : 1.5em;
    width                    : 1.5em;
    height                   : 1.5em;
    background-image         : url(../images/toy2.png);
    z-index                  : 2;
    -webkit-transform-origin : 55% 15%;
    transform-origin         : 55% 15%
}

.fey .fey-part.__toy3 {
    position                 : absolute;
    top                      : 8.7em;
    left                     : 3.4em;
    width                    : 1.6em;
    height                   : 1.6em;
    background-image         : url(../images/toy3.png);
    z-index                  : 2;
    -webkit-transform-origin : 65% 0;
    transform-origin         : 65% 0
}

.fey .fey-part.__toy4 {
    position                 : absolute;
    top                      : 8.7em;
    left                     : 6.1em;
    width                    : 1.5em;
    height                   : 1.5em;
    background-image         : url(../images/toy4.png);
    z-index                  : 2;
    -webkit-transform-origin : 40% 0;
    transform-origin         : 40% 0
}

.fey .fey-part.__toy5 {
    position                 : absolute;
    top                      : 7.7em;
    left                     : 8.2em;
    width                    : 1.3em;
    height                   : 1.3em;
    background-image         : url(../images/toy5.png);
    z-index                  : 2;
    -webkit-transform-origin : 40% 0;
    transform-origin         : 40% 0
}

.fey .fey-part.__toy6 {
    position                 : absolute;
    top                      : 5.8em;
    left                     : 9em;
    width                    : 1em;
    height                   : 1em;
    background-image         : url(../images/toy6.png);
    z-index                  : 2;
    -webkit-transform-origin : 30% 0;
    transform-origin         : 30% 0
}

.fey .fey-part.__wing-left {
    position                 : absolute;
    top                      : -8.5em;
    left                     : -5em;
    width                    : 8.5em;
    height                   : 8.5em;
    background-image         : url(../images/wing-left.png);
    z-index                  : 2;
    -webkit-transform-origin : 100% 80%;
    transform-origin         : 100% 80%;
    -webkit-animation        : fey-wing 30ms infinite alternate both;
    animation                : fey-wing 30ms infinite alternate both;
    opacity                  : .3;
    -ms-filter               : "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -webkit-filter           : blur(4px);
    filter                   : blur(4px)
}

.fey .fey-part.__wing-right {
    position                 : absolute;
    top                      : -5.5em;
    right                    : -7.5em;
    width                    : 6em;
    height                   : 6em;
    background-image         : url(../images/wing-right.png);
    z-index                  : 2;
    -webkit-transform-origin : 0 100%;
    transform-origin         : 0 100%;
    -webkit-animation        : fey-wing 30ms infinite alternate-reverse both;
    animation                : fey-wing 30ms infinite alternate-reverse both;
    opacity                  : .3;
    -ms-filter               : "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -webkit-filter           : blur(4px);
    filter                   : blur(4px)
}

.fey .fey-part.__eye-container-left {
    position                 : absolute;
    top                      : 3.1em;
    left                     : 4.5em;
    width                    : 1em;
    height                   : 1em;
    z-index                  : 2;
    -webkit-transform-origin : 30% 0;
    transform-origin         : 30% 0
}

.fey .fey-part.__eye-container-left .__eye {
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 100%;
    background-image : url(../images/eye-left.png)
}

.fey .fey-part.__eye-container-right {
    position                 : absolute;
    top                      : 3.3em;
    left                     : 7.1em;
    width                    : .9em;
    height                   : .9em;
    z-index                  : 2;
    -webkit-transform-origin : 30% 0;
    transform-origin         : 30% 0
}

.fey .fey-part.__eye-container-right .__eye {
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 100%;
    background-image : url(../images/eye-right.png)
}

.fey .fey-part.__eyes-constraint {
    position                 : absolute;
    top                      : 0;
    left                     : 0;
    width                    : 100%;
    height                   : 100%;
    z-index                  : 2;
    -webkit-transform-origin : 30% 0;
    transform-origin         : 30% 0;
    background-image         : url(../images/eyes-constraint.png)
}

.fey .fey-toy {
    cursor            : pointer;
    pointer-events    : all;
    -webkit-transform : rotate3d(0, 0, 0, 0);
    transform         : rotate3d(0, 0, 0, 0);
    -webkit-animation : fey-wing 1s infinite alternate-reverse both;
    animation         : fey-wing 1s infinite alternate-reverse both
}

@-webkit-keyframes fey-part {
    from {
        -webkit-transform : rotateZ(-15deg);
        transform         : rotateZ(-15deg)
    }
    to {
        -webkit-transform : rotateZ(15deg);
        transform         : rotateZ(15deg)
    }
}

@keyframes fey-part {
    from {
        -webkit-transform : rotateZ(-15deg);
        transform         : rotateZ(-15deg)
    }
    to {
        -webkit-transform : rotateZ(15deg);
        transform         : rotateZ(15deg)
    }
}

@-webkit-keyframes fey-head {
    from {
        -webkit-transform : rotateZ(-5deg);
        transform         : rotateZ(-5deg)
    }
    to {
        -webkit-transform : rotateZ(5deg);
        transform         : rotateZ(5deg)
    }
}

@keyframes fey-head {
    from {
        -webkit-transform : rotateZ(-5deg);
        transform         : rotateZ(-5deg)
    }
    to {
        -webkit-transform : rotateZ(5deg);
        transform         : rotateZ(5deg)
    }
}

@-webkit-keyframes fey-arm-left {
    from {
        -webkit-transform : scale(1.05);
        transform         : scale(1.05)
    }
    to {
        -webkit-transform : rotateZ(2deg);
        transform         : rotateZ(2deg)
    }
}

@keyframes fey-arm-left {
    from {
        -webkit-transform : scale(1.05);
        transform         : scale(1.05)
    }
    to {
        -webkit-transform : rotateZ(2deg);
        transform         : rotateZ(2deg)
    }
}

@-webkit-keyframes fey-arm-right {
    from {
        -webkit-transform : rotateZ(-7deg);
        transform         : rotateZ(-7deg)
    }
    to {
        -webkit-transform : rotateZ(70deg);
        transform         : rotateZ(70deg)
    }
}

@keyframes fey-arm-right {
    from {
        -webkit-transform : rotateZ(-7deg);
        transform         : rotateZ(-7deg)
    }
    to {
        -webkit-transform : rotateZ(70deg);
        transform         : rotateZ(70deg)
    }
}

@-webkit-keyframes fey-hear {
    from {
        -webkit-transform : rotateZ(-10deg);
        transform         : rotateZ(-10deg)
    }
    to {
        -webkit-transform : rotateZ(5deg);
        transform         : rotateZ(5deg)
    }
}

@keyframes fey-hear {
    from {
        -webkit-transform : rotateZ(-10deg);
        transform         : rotateZ(-10deg)
    }
    to {
        -webkit-transform : rotateZ(5deg);
        transform         : rotateZ(5deg)
    }
}

@-webkit-keyframes fey-fly {
    from {
        -webkit-transform : translateY(-2em);
        transform         : translateY(-2em)
    }
    to {
        -webkit-transform : translateY(2em);
        transform         : translateY(2em)
    }
}

@keyframes fey-fly {
    from {
        -webkit-transform : translateY(-2em);
        transform         : translateY(-2em)
    }
    to {
        -webkit-transform : translateY(2em);
        transform         : translateY(2em)
    }
}

@-webkit-keyframes fey-crown {
    from {
        -webkit-transform : translateY(-2em) rotateZ(-5deg);
        transform         : translateY(-2em) rotateZ(-5deg)
    }
    to {
        -webkit-transform : translateY(.2em) rotateZ(10deg);
        transform         : translateY(.2em) rotateZ(10deg)
    }
}

@keyframes fey-crown {
    from {
        -webkit-transform : translateY(-2em) rotateZ(-5deg);
        transform         : translateY(-2em) rotateZ(-5deg)
    }
    to {
        -webkit-transform : translateY(.2em) rotateZ(10deg);
        transform         : translateY(.2em) rotateZ(10deg)
    }
}

@-webkit-keyframes fey-wing {
    from {
        -webkit-transform : rotateZ(-25deg);
        transform         : rotateZ(-25deg)
    }
    to {
        -webkit-transform : rotateZ(25deg);
        transform         : rotateZ(25deg)
    }
}

@keyframes fey-wing {
    from {
        -webkit-transform : rotateZ(-25deg);
        transform         : rotateZ(-25deg)
    }
    to {
        -webkit-transform : rotateZ(25deg);
        transform         : rotateZ(25deg)
    }
}