@charset "UTF-8";
/*!
Animate.css - http://daneden.me/animate
Version - 3.4.0
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/
.Animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.Animated.Infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.Animated.Hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.Animated.Bounce-In,
.Animated.Bounce-Out {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

.Animated.Flip--Out-X,
.Animated.Flip--Out-Y {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40%,
  43% {
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40%,
  43% {
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

.Bounce {
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-name: bounce;
  animation-name: bounce; }

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1; }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1; }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

.Bounce-In {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    opacity: 0; }
  60% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    opacity: 1; }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    opacity: 0; }
  60% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    opacity: 1; }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

.Bounce-In-Down {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown; }

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    opacity: 0; }
  60% {
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    opacity: 1; }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    opacity: 0; }
  60% {
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    opacity: 1; }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

.Bounce-In-Left {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
    opacity: 0; }
  60% {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    opacity: 1; }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
    opacity: 0; }
  60% {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    opacity: 1; }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

.Bounce-In-Right {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight; }

@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
    opacity: 0; }
  60% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 1; }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
    opacity: 0; }
  60% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 1; }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.Bounce-In-Up {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp; }

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
  55% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 1; }
  to {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; } }

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
  55% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 1; }
  to {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; } }

.Bounce-Out {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut; }

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
    opacity: 0; } }

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
    opacity: 0; } }

.Bounce-Out-Down {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown; }

@-webkit-keyframes bounceOutLeft {
  20% {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    opacity: 0; } }

@keyframes bounceOutLeft {
  20% {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    opacity: 0; } }

.Bounce-Out-Left {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft; }

@-webkit-keyframes bounceOutRight {
  20% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
    opacity: 0; } }

@keyframes bounceOutRight {
  20% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
    opacity: 0; } }

.Bounce-Out-Right {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight; }

@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
    opacity: 0; } }

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
    opacity: 0; } }

.Bounce-Out-Up {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Fade-In {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Fade-In-Down {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
  from {
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes fadeInDownBig {
  from {
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Fade-In-DownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Fade-In-Left {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  from {
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes fadeInLeftBig {
  from {
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Fade-In-Left-Big {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Fade-In-Right {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRightBig {
  from {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes fadeInRightBig {
  from {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Fade-In-Right-Big {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Fade-In-Up {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInUpBig {
  from {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes fadeInUpBig {
  from {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Fade-In-Up-Big {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.Fade-Out {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0; } }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0; } }

.Fade-Out-Down {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
    opacity: 0; } }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
    opacity: 0; } }

.Fade-Out-Down-Big {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig; }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0; } }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0; } }

.Fade-Out-Left {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    opacity: 0; } }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    opacity: 0; } }

.Fade-Out-Left-Big {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0; } }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0; } }

.Fade-Out-Right {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
    opacity: 0; } }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
    opacity: 0; } }

.Fade-Out-Right-Big {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0; } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0; } }

.Fade-Out-Up {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
    opacity: 0; } }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
    opacity: 0; } }

.Fade-Out-Up-Big {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig; }

@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }

.Animated.Flip- {
  -webkit-animation-name: flip;
  animation-name: flip;
  -webkit-backface-visibility: visible;
  backface-visibility: visible; }

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

.Flip-In-X {
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

.Flip-In-Y {
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.Flip-Out-X {
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flipOutY {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutY {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

.Flip-Out-Y {
  -webkit-animation-name: flipOutY;
  animation-name: flipOutY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Light-Speed-In {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

@-webkit-keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

@keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

.Light-Speed-Out {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }

.Hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes rollIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes rollIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.Roll-In {
  -webkit-animation-name: rollIn;
  animation-name: rollIn; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes Roll-Out {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    opacity: 0; } }
@keyframes Roll-Out {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    opacity: 0; } }

.Roll-Out {
  -webkit-animation-name: rollOut;
  animation-name: rollOut; }

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; }
  50% {
    opacity: 1; } }

.Zoom-In {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes zoomInDown {
  from {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }
  60% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1; } }

@keyframes zoomInDown {
  from {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }
  60% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1; } }

.Zoom-In-Down {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown; }

@-webkit-keyframes zoomInLeft {
  from {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }
  60% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1; } }

@keyframes zoomInLeft {
  from {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }
  60% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1; } }

.Zoom-In-Left {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft; }

@-webkit-keyframes zoomInRight {
  from {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }
  60% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1; } }

@keyframes zoomInRight {
  from {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }
  60% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1; } }

.Zoom-In-Right {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight; }

@-webkit-keyframes zoomInUp {
  from {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }
  60% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1; } }

@keyframes zoomInUp {
  from {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }
  60% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1; } }

.Zoom-In-Up {
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp; }

@-webkit-keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; }
  to {
    opacity: 0; } }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; }
  to {
    opacity: 0; } }

.Zoom-Out {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut; }

@-webkit-keyframes zoomOutDown {
  40% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1; }
  to {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0; } }

@keyframes zoomOutDown {
  40% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1; }
  to {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0; } }

.Zoom-Out-Down {
  -webkit-animation-name: zoomOutDown;
  animation-name: zoomOutDown; }

@-webkit-keyframes zoomOutLeft {
  40% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    opacity: 0; } }

@keyframes zoomOutLeft {
  40% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    opacity: 0; } }

.Zoom-Out-Left {
  -webkit-animation-name: zoomOutLeft;
  animation-name: zoomOutLeft; }

@-webkit-keyframes zoomOutRight {
  40% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
    transform: scale(0.1) translate3d(2000px, 0, 0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    opacity: 0; } }

@keyframes zoomOutRight {
  40% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
    transform: scale(0.1) translate3d(2000px, 0, 0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    opacity: 0; } }

.Zoom-Out-Right {
  -webkit-animation-name: zoomOutRight;
  animation-name: zoomOutRight; }

@-webkit-keyframes zoomOutUp {
  40% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1; }
  to {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0; } }

@keyframes zoomOutUp {
  40% {
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1; }
  to {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0; } }

.Zoom-Out-Up {
  -webkit-animation-name: zoomOutUp;
  animation-name: zoomOutUp; }

@-webkit-keyframes slideInDown {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.Slide-In-Down {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes slideInLeft {
  from {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInLeft {
  from {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.Slide-In-Left {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.Slide-In-Right {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes slideInUp {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.Slide-In-Up {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

.Slide-Out-Down {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown; }

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.Slide-Out-Left {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft; }

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

.Slide-Out-Right {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight; }

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.Slide-Out-Up {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  font-family: 'MuseoSansCR-900'; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

* {
  box-sizing: border-box; }

* img {
  max-width: 100%; }

input:focus {
  outline: none; }

html {
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #13793e; }

.Left {
  float: left; }

.Right {
  float: right; }

.Text-Right {
  text-align: right; }

.Text-Left {
  text-align: left; }

.Maximum-Width {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

.Darkgreen {
  color: #13793e;
  font-size: inherit;
  text-transform: inherit; }

.Lightgreen {
  color: #32ff9d;
  font-size: inherit;
  text-transform: inherit;
  font-family: inherit; }

.Btn {
  display: block;
  width: 100%;
  padding: 25px;
  background-color: #e2231a;
  border: none;
  border-radius: 3px;
  font-family: 'MuseoSansCR-900';
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color linear .2s; }
  .Btn:hover {
    background-color: #C3030E;
    transition: background-color linear .2s; }

.HR-Line {
  position: relative;
  width: 180px;
  height: 2px;
  margin: 20px auto; }

.HR-Left-White {
  left: 0;
  right: 50%;
  background: linear-gradient(to left, white, transparent);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000 9', endColorstr='#0000', GradientType=1); }
  @media (min-width: 1025px) {
    .HR-Left-White {
      background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff 9', endColorstr='#ffffff', GradientType=1); } }

.HR-Right-White {
  left: 50%;
  right: 0;
  background: linear-gradient(to right, black, transparent);
  background: -webkit-linear-gradient(right, transparent, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000', endColorstr='#0000 9', GradientType=1); }
  @media (min-width: 1025px) {
    .HR-Right-White {
      background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
      background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), white);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff 9', GradientType=1); } }

.HR-Left {
  left: 0;
  right: 50%;
  background: linear-gradient(to left, #13793e, rgba(19, 121, 62, 0));
  background: -webkit-linear-gradient(left, rgba(19, 121, 62, 0), #13793e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13793e 9', endColorstr='#13793e', GradientType=1); }

.HR-Right {
  left: 50%;
  right: 0;
  background: linear-gradient(to right, #13793e, rgba(19, 121, 62, 0));
  background: -webkit-linear-gradient(right, rgba(19, 121, 62, 0), #13793e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13793e', endColorstr='#13793e 9', GradientType=1); }

.Prefix:before {
  content: "- "; }

.Script-Number {
  position: relative;
  display: inline-block;
  width: 48%;
  padding: 12% 0;
  margin: 0 1% 0;
  border-radius: 6px;
  background: linear-gradient(to top, #656566, #dddddd);
  background: -webkit-linear-gradient(top, #dddddd, #656566);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#656566', endColorstr='#dddddd', GradientType=0);
  box-shadow: 0px 0px 10px 1px #dedede; }
  .Script-Number span {
    position: relative;
    display: block;
    font-size: 32px;
    z-index: 2; }
    .Script-Number span:after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      top: 50%;
      background: #ffffff;
      opacity: .5; }
    @media (min-width: 601px) {
      .Script-Number span {
        font-size: 62px; } }

label.Label-Placeholder {
  position: absolute;
  top: 24px;
  left: 20px;
  color: #212121;
  font-size: 16px; }

.Link-1 {
  background: url("../img/ico/d-vkontakte.png"), #587a9f;
  background-repeat: no-repeat;
  background-position: 9px;
  transition: all linear .2s; }

.Link-2 {
  background: url("../img/ico/d-utorrent.png");
  background-color: #55ac45;
  background-repeat: no-repeat;
  background-position: center 3px; }

.Link-3 {
  background: url("../img/ico/d-youtube.png");
  background-color: #ff3533;
  background-repeat: no-repeat;
  background-position: center; }

.Link-4 {
  background: url("../img/ico/d-twitter.png");
  background-color: #2daae1;
  background-repeat: no-repeat;
  background-position: center; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 17px; }

p {
  font-size: 21px; }

span {
  font-size: 21px; }

span, h1, h3, .Troll-Title, .Troll-Time, .Motivation-Tool, .Motivation-Accent, .Discount-Warning {
  text-transform: uppercase;
  letter-spacing: normal; }

li {
  font-family: 'MuseoSansCR-700';
  font-size: 21px;
  line-height: 24px;
  letter-spacing: normal; }

h1 {
  line-height: 38px; }
  @media (min-width: 1101px) {
    h1 {
      font-size: 42px;
      line-height: 48px; } }
  @media (min-width: 1251px) {
    h1 {
      font-size: 48px;
      line-height: 68px; } }

h2 {
  font-family: 'MuseoSlabCR-900';
  letter-spacing: normal; }

h3 {
  font-family: 'MuseoCR-900'; }

span, p, h4 {
  letter-spacing: normal; }

.HR-Left-White, .HR-Right-White, .HR-Left, .HR-Right {
  position: absolute;
  height: 100%; }

.Script-Number {
  border-radius: 6px;
  border: 2px solid #8a8a8a;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #F1F1F1 0%, #F1F2F3 50%, #DCDCDC 50%, #c8c8c8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae9ea', endColorstr='#c8c8c8', GradientType=0); }

.Script-Days:after, .Script-Hours:after, .Script-Minutes:after, .Script-Seconds:after {
  display: block;
  margin-top: 10px;
  font-family: 'MuseoSansCR-900';
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #4b4c4c; }
  @media (min-width: 601px) {
    .Script-Days:after, .Script-Hours:after, .Script-Minutes:after, .Script-Seconds:after {
      font-size: 14px; } }

@font-face {
  font-family: 'MuseoCR-900';
  src: url("../fonts/MuseoCR-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoCR-900.otf") format("opentype"), url("../fonts/MuseoCR-900.woff") format("woff"), url("../fonts/MuseoCR-900.ttf") format("truetype"), url("../fonts/MuseoCR-900.svg#MuseoCR-900") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCR-900';
  src: url("../fonts/MuseoSansCR-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCR-900.otf") format("opentype"), url("../fonts/MuseoSansCR-900.woff") format("woff"), url("../fonts/MuseoSansCR-900.ttf") format("truetype"), url("../fonts/MuseoSansCR-900.svg#MuseoSansCR-900") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCR-700';
  src: url("../fonts/MuseoSansCR-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCR-700.otf") format("opentype"), url("../fonts/MuseoSansCR-700.woff") format("woff"), url("../fonts/MuseoSansCR-700.ttf") format("truetype"), url("../fonts/MuseoSansCR-700.svg#MuseoSansCR-700") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSlabCR-900';
  src: url("../fonts/MuseoSlabCR-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSlabCR-900.otf") format("opentype"), url("../fonts/MuseoSlabCR-900.woff") format("woff"), url("../fonts/MuseoSlabCR-900.ttf") format("truetype"), url("../fonts/MuseoSlabCR-900.svg#MuseoSlabCR-900") format("svg");
  font-weight: normal;
  font-style: normal; }

.Script-Form-Result {
  padding: 20px;
  text-align: center;
  color: black; }

.Preloader {
  position: fixed;
  z-index: 1000000000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff; }
  .Preloader .Preloader-Row {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background-color: #008C43; }
  .Preloader .Preloader-Percent {
    padding: 10px;
    font-size: 28px;
    text-align: center;
    font-family: Arial;
    transition: 0.3s ease; }
    .Preloader .Preloader-Percent span {
      font-size: 28px;
      font-family: Arial; }
  .Preloader .Preloader-Content {
    width: 300px;
    height: 464px;
    margin: 0 auto;
    text-align: center; }
    .Preloader .Preloader-Content img {
      width: 100%;
      height: auto;
      padding-bottom: 20px; }

.Snow-1, .Snow-2 {
  background-image: url(../img/bg/d-snow-1.jpg); }

.Snow-2 {
  opacity: 0.5; }

.Snow-3 {
  background-image: url(../img/bg/d-snow-3.png); }

.Snowflakes-1 {
  background-image: url(../img/bg/d-snowflakes-1.png); }

.Snowflakes-2 {
  background-image: url(../img/bg/d-snowflakes-2.png); }

.Snowflakes-3 {
  background-image: url(../img/bg/d-snowflakes-3.png); }

.Snowflakes-4 {
  background-image: url(../img/bg/d-snowflakes-4.png); }

.Snowflakes-5 {
  background-image: url(../img/bg/d-snowflakes-5.png); }

.Snowflakes-6 {
  background-image: url(../img/bg/d-snowflakes-6.png); }

.Parallax-Background {
  position: absolute; }

.Snow-1, .Snow-2, .Snowflakes-1, .Snowflakes-2, .Snowflakes-3, .Snowflakes-4, .Snowflakes-5 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.Snow-3 {
  bottom: 0;
  height: 34%;
  left: 0;
  right: 0; }

.Header-Wrap {
  position: relative;
  z-index: 2; }
  .Parallax-Backgrounds > div {
    background-size: cover;
    background-position: center;
    background-repeat: repeat; }
  .Troll {
    position: relative;
    padding: 35px 0 34px;
    font-size: 0;
    letter-spacing: -4px;
    text-align: center; }
    .Troll-Line {
      margin-top: 10px; }
    .Troll-Logo {
      display: block;
      width: 100%;
      max-height: 375px;
      padding: 0 35px 35px;
      font-size: 8px; }
      @media (min-width: 1025px) {
        .Troll-Logo {
          display: inline-block;
          width: 50%;
          font-size: 14px;
          padding: 0 35px 35px;
          max-height: 770px; } }
    .Troll-Call {
      padding: 0 35px;
      vertical-align: top;
      color: #1d0c16;
      letter-spacing: normal; }
      @media (min-width: 601px) {
        .Troll-Call {
          display: inline-block;
          width: 72%; } }
      @media (min-width: 769px) {
        .Troll-Call {
          width: 60%; } }
      @media (min-width: 1025px) {
        .Troll-Call {
          width: 50%;
          color: #ffffff; } }
      .Troll-Title {
        font-size: 25px;
        font-family: 'MuseoCR-900'; }
        @media (min-width: 1101px) {
          .Troll-Title {
            font-size: 30px; } }
        @media (min-width: 1251px) {
          .Troll-Title {
            font-size: 38px; } }
      .Troll-Legend {
        text-align: center;
        letter-spacing: normal; }
        .Troll-Legend li {
          margin-bottom: 27px; }
          .Troll-Time {
            font-family: 'MuseoSansCR-900'; }
      .Troll-Order .ym-fbox {
        position: relative;
        width: 100%;
        height: 60px;
        margin-bottom: 17px;
        background-color: #dee9fa;
        border: 1px solid #fff;
        border-radius: 3px;
        color: #212121;
        font-size: 16px;
        font-family: 'MuseoSansCR-900'; }
      .Troll-Order input[type="text"] {
        width: 100%;
        padding: 21px;
        border: none;
        background: transparent;
        -webkit-appearance: none;
        font-family: 'MuseoSansCR-900'; }
      .Troll-Order textarea {
        width: 100%;
        padding: 15px;
        height: 80px;
        border: none;
        border-bottom: 1px solid #666; }
      .Troll-Order .placeholderanimation.active + .animatedlabel {
        opacity: 0; }
      .Troll-Order .animatedlabel {
        font-size: 16px;
        color: #1c0b15;
        cursor: text;
        margin: -36px 0 0 15px;
        position: absolute;
        display: block;
        transition: all 0.3s ease-out;
        text-transform: uppercase; }
      .Troll-Order .clearme {
        clear: both; }
    .Discount {
      padding: 0 35px; }
      @media (min-width: 1101px) {
        .Discount {
          padding: 0 0 0 30px; } }
      .Discount-Text {
        display: inline-block;
        width: 100%;
        padding-bottom: 30px;
        vertical-align: middle;
        color: #1c0b15; }
        @media (min-width: 1101px) {
          .Discount-Text {
            padding-bottom: 0;
            text-align: left; } }
        @media (min-width: 1101px) {
          .Discount-Text {
            width: 50%; } }
        .Discount-Title {
          font-size: 20px;
          line-height: 30px;
          padding-bottom: 10px;
          text-transform: uppercase;
          font-family: 'MuseoSansCR-900'; }
          @media (min-width: 601px) {
            .Discount-Title {
              font-size: 25px;
              line-height: 35px; } }
          @media (min-width: 1101px) {
            .Discount-Title {
              padding-bottom: 0;
              font-size: 30px;
              line-height: 40px; } }
        .Discount-Subtitle {
          font-size: 24px;
          line-height: 30px;
          text-transform: uppercase;
          font-family: 'MuseoSansCR-900'; }
          @media (min-width: 601px) {
            .Discount-Subtitle {
              font-size: 34px;
              line-height: 30px; } }
          @media (min-width: 1101px) {
            .Discount-Subtitle {
              font-size: 44px;
              line-height: 40px; } }
          .Discount-Subtitle span {
            font-family: 'MuseoSlabCR-900'; }
      .Discount-Timer {
        display: inline-block;
        width: 100%;
        margin-bottom: -15px;
        vertical-align: middle; }
        @media (min-width: 1101px) {
          .Discount-Timer {
            width: 49%; } }
        .Discount-Warning {
          margin-bottom: 30px;
          font-size: 20px;
          font-family: 'MuseoSansCR-900'; }
          @media (min-width: 1101px) {
            .Discount-Warning {
              margin-bottom: 10px; } }
          @media (min-width: 601px) {
            .Discount-Warning {
              font-size: 25px; } }
          @media (min-width: 1101px) {
            .Discount-Warning {
              font-size: 30px; } }
          .Discount-Warning span {
            font-family: 'MuseoSlabCR-900';
            font-size: 40px; }
        .Script-Countdown {
          max-width: 700px;
          margin: 0 auto;
          font-size: 0px;
          font-family: 'MuseoSansCR-700'; }
          .Script-Days {
            display: inline-block;
            position: relative;
            width: 24%;
            padding-right: 2%; }
            .Script-Days:after {
              content: "дни";
              letter-spacing: normal; }
          .Script-Hours {
            display: inline-block;
            position: relative;
            width: 26%;
            padding: 0 2%; }
            .Script-Hours:after {
              content: "часы"; }
          .Script-Minutes {
            display: inline-block;
            position: relative;
            width: 26%;
            padding: 0 2%; }
            .Script-Minutes:after {
              content: "минуты"; }
          .Script-Seconds {
            display: inline-block;
            position: relative;
            width: 24%;
            padding-left: 2%; }
            .Script-Seconds:after {
              content: "секунды"; }

.Dream-Wrap {
  position: relative;
  z-index: 1;
  margin-top: -1100px;
  padding-top: 1100px;
  background-image: url(../img/bg/d-sectoin-2-clouds.png);
  background-position: top center;
  background-size: cover; }
  @media (min-width: 376px) {
    .Dream-Wrap {
      margin-top: -960px;
      padding-top: 960px; } }
  @media (min-width: 413px) {
    .Dream-Wrap {
      margin-top: -780px;
      padding-top: 780px; } }
  @media (min-width: 601px) {
    .Dream-Wrap {
      margin-top: -850px;
      padding-top: 850px; } }
  @media (min-width: 769px) {
    .Dream-Wrap {
      margin-top: -788px;
      padding-top: 788px; } }
  @media (min-width: 1025px) {
    .Dream-Wrap {
      margin-top: -380px;
      padding-top: 380px; } }
  @media (min-width: 1101px) {
    .Dream-Wrap {
      margin-top: -230px;
      padding-top: 230px; } }
  @media (min-width: 1251px) {
    .Dream-Wrap {
      margin-top: -270px;
      padding-top: 270px; } }
  .Dream {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px 30px 70px;
    text-align: center; }
    @media (min-width: 769px) {
      .Dream {
        padding: 50px 0 70px; } }
    .Dream-Candy {
      content: "";
      display: none;
      position: absolute;
      left: -220px;
      top: -54px; }
      @media (min-width: 601px) {
        .Dream-Candy {
          display: block; } }
    .Dream-Biscuit {
      content: "";
      display: none;
      position: absolute;
      right: -268px;
      top: 270px; }
      @media (min-width: 601px) {
        .Dream-Biscuit {
          display: block; } }
    .Dream-Btn {
      max-width: 353px;
      margin: 0 auto; }
    .Dream-Title {
      font-family: 'MuseoSlabCR-900';
      font-size: 30px; }
      @media (min-width: 1101px) {
        .Dream-Title {
          font-size: 35px; } }
      @media (min-width: 1251px) {
        .Dream-Title {
          font-size: 45px; } }
    .Dream-Item {
      position: relative;
      margin: 0 auto;
      padding: 50px 0 34px; }
      .Dream-Circle {
        display: none;
        padding: 32px 0;
        width: 88px;
        background-color: #13793e;
        border-radius: 50%;
        font-size: 72px;
        color: white;
        position: absolute; }
        @media (min-width: 769px) {
          .Dream-Circle {
            display: block; } }
      .Dreamcircle-1 {
        top: 0;
        left: -115px; }
      .Dreamcircle-2 {
        top: 0;
        right: -88px; }
      .Dreamcircle-3 {
        top: 0;
        left: -130px; }
    .Dreamitem-1 {
      max-width: 681px; }
    .Dreamitem-2 {
      max-width: 772px; }
    .Dreamitem-3 {
      max-width: 710px; }
    .Public-Promise {
      display: block;
      max-width: 1030px;
      margin: 0 auto;
      text-transform: uppercase;
      font-family: 'MuseoCR-900';
      line-height: 30px;
      font-size: 23px;
      padding: 40px 0 82px; }

.Gift-Wrap {
  background: linear-gradient(to top, #0f7836, #18984e);
  background: -webkit-linear-gradient(top, #0f7836 0%, #18984e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#18984e', endColorstr='#0f7836'); }
  .Gift {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px 30px 52px;
    color: #fff;
    text-align: center; }
    @media (min-width: 601px) {
      .Gift {
        padding: 50px 0px 52px; } }
    .Girl-On-Top {
      position: absolute;
      top: -207px;
      left: -157px;
      display: none; }
      @media (min-width: 1025px) {
        .Girl-On-Top {
          display: block; } }
    .Gift-List {
      font-size: 0;
      letter-spacing: -4px; }
      .Gift-Item {
        display: block;
        width: 100%;
        padding: 38px 0;
        vertical-align: top; }
        @media (min-width: 601px) {
          .Gift-Item {
            display: inline-block;
            width: 50%;
            padding: 38px 15px; } }
        @media (min-width: 1101px) {
          .Gift-Item {
            padding: 38px 25px; } }
        @media (min-width: 1251px) {
          .Gift-Item {
            width: 33%;
            padding: 38px 44px; } }
        .Gift-Image {
          display: block;
          width: 96px;
          height: 96px;
          margin: 0 auto 25px;
          border: 10px solid white;
          border-radius: 50%; }
        .Gift-Image-1 {
          background: url("../img/ico/d-smile.png") no-repeat center; }
        .Gift-Image-2 {
          background: url("../img/ico/d-money.png") no-repeat center; }
        .Gift-Image-3 {
          background: url("../img/ico/d-globus.png") no-repeat center; }
        .Gift-Image-4 {
          background: url("../img/ico/d-heart.png") no-repeat center; }
        .Gift-Image-5 {
          background: url("../img/ico/d-present.png") no-repeat center; }
        .Gift-Image-6 {
          background: url("../img/ico/d-clock.png") no-repeat center; }
        .Gift-Item .Gift-Image-5 {
          background-position: center 10px; }
        .Gift-Title {
          padding-bottom: 30px; }
          @media (min-width: 601px) {
            .Gift-Title {
              height: 144px;
              padding-bottom: 0; } }
          @media (min-width: 1251px) {
            .Gift-Title {
              height: 124px; } }
          .Gift-Title p {
            font-size: 16px; }
    .Gift-Btn {
      max-width: 520px;
      margin: 20px auto 0; }

.Music-Wrap {
  background: #fff; }
  .Music {
    padding: 20px 30px 70px;
    text-align: center; }
    .Music-Title {
      color: #13793e; }
    .Music-Text {
      font-family: 'MuseoCR-900';
      line-height: 30px;
      font-size: 23px;
      padding: 40px 0 0; }
    .Music-List {
      max-width: 1112px;
      margin: 0 auto;
      font-size: 0;
      letter-spacing: -4px; }
      .Music-Item {
        display: block;
        padding: 50px 30px 0; }
        @media (min-width: 1025px) {
          .Music-Item {
            padding: 50px 0 0;
            margin-left: 30%; } }
        @media (min-width: 1101px) {
          .Music-Item {
            display: inline-block;
            width: 50%; } }
        .Music-Name {
          margin-bottom: 16px;
          font-size: 16px; }
        .Music-Audio {
          max-width: 650px;
          width: 100%;
          display: inline-block; }

.Motivation-Wrap {
  background-image: url(../img/bg/d-sectoin-4-blue.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .Motivation {
    position: relative;
    padding: 74px 0 34px;
    text-align: center; }
    .Motivation-Title {
      font-size: 30px; }
      @media (min-width: 601px) {
        .Motivation-Title {
          font-size: 35px; } }
      @media (min-width: 1101px) {
        .Motivation-Title {
          font-size: 45px; } }
    .Motivation-Tools {
      font-size: 23px; }
      .Motivation-Tool {
        max-width: 730px;
        margin: 0 auto;
        font-family: 'MuseoCR-900';
        line-height: 33px; }
      .Motivation-Accent {
        max-width: 965px;
        margin: 0 auto;
        font-family: 'MuseoCR-900';
        line-height: 33px; }
    .Instruction-Wrapp {
      max-width: 777px;
      padding: 42px 0 0 0; }
      @media (min-width: 769px) {
        .Instruction-Wrapp {
          padding: 42px 0 0 70px; } }
      .Instruction {
        padding: 58px 30px 0;
        background: #fff;
        text-align: left;
        box-shadow: -8px 45px 53px 10px rgba(129, 129, 129, 0.2); }
        @media (min-width: 601px) {
          .Instruction {
            padding: 58px 80px 0 60px; } }
        .Instruction-Title {
          margin-bottom: 48px;
          font-family: 'MuseoSansCR-900';
          font-size: 20px; }
          @media (min-width: 1101px) {
            .Instruction-Title {
              font-size: 24px; } }
          @media (min-width: 1251px) {
            .Instruction-Title {
              font-size: 34px; } }
        .Instruction-Item {
          margin-bottom: 25px; }
          .Instruction-Subtitle {
            font-family: 'MuseoSansCR-900'; }
          .Instruction-Sublist li {
            font-size: 16px;
            line-height: 18px; }
        .Instruction-Btn {
          position: relative;
          z-index: 1; }
      .Instruction-Cut {
        position: relative;
        height: 37px;
        margin-left: 37px;
        background: #fff; }
        .Triangle {
          position: absolute;
          width: 0;
          height: 0;
          top: 0;
          left: -39px;
          border-top: 39px solid #f1f1f1;
          border-left: 39px solid transparent; }
    .Motivation-Pillow {
      position: absolute;
      top: 396px;
      left: 666px; }

.fey {
  left: -30px; }

.Responses-Wrap {
  background: #e9fcff; }
  .Responses {
    padding: 60px 5px 60px 15px; }
    @media (min-width: 601px) {
      .Responses {
        padding: 60px 0; } }
    .Responses-Title {
      color: #13793e;
      text-align: center; }
    .Responses-List {
      font-size: 0;
      letter-spacing: -4px; }
      .Responses-Item {
        display: block;
        padding: 33px 0 0;
        font-size: 0;
        letter-spacing: -4px;
        text-align: center; }
        @media (min-width: 1101px) {
          .Responses-Item {
            display: inline-block;
            width: 50%;
            padding: 30px 0; } }
        .Responses-Image {
          display: block;
          width: 100%;
          padding: 15px;
          vertical-align: middle; }
          @media (min-width: 1101px) {
            .Responses-Image {
              display: inline-block;
              width: 30%;
              padding: 0; } }
          .Responses-Image img {
            border-radius: 50%; }
        .Responses-Sublist {
          display: inline-block;
          width: 100%;
          padding: 0 25px;
          vertical-align: middle;
          letter-spacing: normal; }
          @media (min-width: 376px) {
            .Responses-Sublist {
              width: 70%; } }
          .Responses-Name {
            font-size: 18px;
            font-family: 'MuseoSansCR-900'; }
          .Responses-Text {
            font-size: 16px;
            line-height: 16px;
            padding: 12px 0 21px;
            letter-spacing: normal; }
          .Responses-Adress a {
            color: #13793e;
            font-size: 15px;
            letter-spacing: normal; }

.Footer-Wrap {
  padding: 44px 30px;
  background: #13793e; }
  footer {
    color: #f0f0f0;
    font-size: 0;
    letter-spacing: -4px; }
    .Footer-List-1 {
      vertical-align: top; }
      @media (min-width: 1101px) {
        .Footer-List-1 {
          display: inline-block;
          width: 70%; } }
      .Footer-Paylist {
        padding: 10px 0 37px; }
        .Footer-Paylist li {
          display: inline-block;
          max-width: 50px;
          margin-right: 4px;
          margin-bottom: 8px; }
        .Footer-Paylist li:nth-of-type(11) {
          margin-right: 0; }
        .Footer-Paylist img {
          border: 1px solid #e3e3e3; }
      .Footer-Adress {
        max-width: 260px;
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 13px; }
      .Footer-Copyright {
        font-size: 16px;
        line-height: 16px;
        vertical-align: middle; }
        @media (min-width: 601px) {
          .Footer-Copyright {
            display: inline-block;
            width: 50%; } }
      .Footer-Socials {
        vertical-align: middle; }
        .Footer-Social {
          padding: 14px 0 10px; }
          @media (min-width: 601px) {
            .Footer-Social {
              padding: 0; } }
          .Footer-Social li {
            display: inline-block;
            margin-right: 14px;
            vertical-align: middle; }
          .Footer-Social li:nth-of-type(4) {
            margin-right: 0; }
          .Footer-Link {
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 50%; }
        @media (min-width: 601px) {
          .Footer-Socials {
            display: inline-block;
            width: 50%;
            text-align: center; } }
    @media (min-width: 1101px) {
      .Footer-List-2 {
        display: inline-block;
        width: 30%;
        vertical-align: top; } }
    .Footer-Logo {
      margin-bottom: 8px; }
    .Footer-Warnings {
      margin-bottom: 16px; }
      .Footer-Age {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        border: 6px solid #6bc607;
        width: 50px;
        padding: 7px 0;
        background-color: #55a004;
        box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
        .Footer-Age span {
          display: block;
          font-size: 25px;
          letter-spacing: -1; }
          .Footer-Age span:before {
            content: "+";
            display: inline-block;
            font-size: 12px;
            vertical-align: top; }
      .Footer-Warning {
        display: inline-block;
        vertical-align: middle; }
      .Footer-Developers {
        max-width: 288px; }
        .Footer-Developers p {
          font-size: 16px; }
        .Footer-Developers img {
          display: inline-block;
          margin: -4px 12px 0;
          vertical-align: middle; }

/*# sourceMappingURL=index.css.map */
