html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font           : inherit;
    font-size      : 100%;

    box-sizing     : border-box;
    margin         : 0;
    padding        : 0;

    vertical-align : baseline;

    border         : 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display : block;
}

body {
    line-height : 1;
    font-family : 'MuseoSansCR-900';

}

ol,
ul {
    list-style : none;
}

blockquote,
q {
    quotes : none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content : '';
    content : none;
}

table {
    border-spacing  : 0;
    border-collapse : collapse;
}

* {
    box-sizing : border-box;
}

* img {
    max-width : 100%;

}

input:focus {
    outline : none;
}

html {
    overflow-x : hidden;
}

::-webkit-scrollbar {
    width : 12px;
}

::-webkit-scrollbar-track {
    background : #fff;
}

::-webkit-scrollbar-thumb {
    background : #13793e;
}

