@at-root .Parallax-Backgrounds {

    @at-root .Snow-1,.Snow-2 {
        background-image : url(../img/bg/d-snow-1.jpg);
    }

    @at-root .Snow-2 {
        opacity : 0.5;
    }

    @at-root .Snow-3 {
        background-image : url(../img/bg/d-snow-3.png);
    }

    @for $Index from 1 through 6 {

        @at-root .Snowflakes-#{$Index} {
            background-image : url(../img/bg/d-snowflakes-#{$Index}.png);
        }

    }

    @at-root .Parallax-Background {
        position : absolute;

    }
    @at-root .Snow-1,.Snow-2,.Snowflakes-1,.Snowflakes-2, .Snowflakes-3, .Snowflakes-4, .Snowflakes-5 {
        top    : 0;
        left   : 0;
        right  : 0;
        bottom : 0;
    }
    @at-root .Snow-3 {
        bottom : 0;
        height : 34%;
        left   : 0;
        right  : 0;
    }
}

.Header-Wrap {
    position : relative;
    z-index  : 2;
    @at-root .Parallax-Backgrounds > div {
        background-size     : cover;
        background-position : center;
        background-repeat   : repeat;

    }

    @at-root .Troll {
        position       : relative;
        padding        : 35px 0 34px;
        font-size      : 0;
        letter-spacing : -4px;
        text-align     : center;


        @at-root .Troll-Line {
            margin-top : 10px;
        }


        @at-root .Troll-Logo {
            display    : block;
            width      : 100%;

            max-height : 375px;
            padding    : 0 35px 35px;
            font-size  : 8px;


            @include Adaptive('>ipad-L') {
                display    : inline-block;
                width      : 50%;
                font-size  : 14px;
                padding    : 0 35px 35px;
                max-height : 770px;
            }
        }

        @at-root .Troll-Call {

            padding        : 0 35px;
            vertical-align : top;
            color          : #1d0c16;
            letter-spacing : normal;


            @include Adaptive('>tablet') {
                display : inline-block;
                width   : 72%;

            }

            @include Adaptive('>ipad-P') {
                width : 60%;

            }

            @include Adaptive('>ipad-L') {
                width : 50%;
                color : #ffffff;

            }

            @at-root .Troll-Title {
                font-size   : 25px;

                font-family : 'MuseoCR-900';


                @include Adaptive('>ipad-C') {
                    font-size : 30px;

                }

                @include Adaptive('>1250px') {
                    font-size : 38px;
                }

            }
            @at-root .Troll-Legend {
                text-align     : center;
                letter-spacing : normal;


                li {
                    margin-bottom : 27px;

                    @at-root .Troll-Time {
                        font-family : 'MuseoSansCR-900';

                    }
                }

            }
            @at-root .Troll-Order {
                .ym-fbox {
                    position         : relative;
                    width            : 100%;
                    height           : 60px;
                    margin-bottom    : 17px;
                    background-color : #dee9fa;
                    border           : 1px solid #fff;
                    border-radius    : 3px;
                    color            : #212121;
                    font-size        : 16px;
                    font-family      : 'MuseoSansCR-900';
                }

                input[type="text"] {
                    width              : 100%;
                    padding            : 21px;
                    border             : none;
                    background         : transparent;
                    -webkit-appearance : none;
                    font-family        : 'MuseoSansCR-900';

                }

                textarea {
                    width         : 100%;
                    padding       : 15px;
                    height        : 80px;
                    border        : none;
                    border-bottom : 1px solid #666;

                }

                .placeholderanimation {
                    &.active + .animatedlabel {
                        opacity : 0;

                    }

                }

                .animatedlabel {
                    font-size          : 16px;
                    color              : #1c0b15;
                    cursor             : text;
                    margin             : -36px 0 0 15px;
                    position           : absolute;
                    display            : block;
                    -webkit-transition : all 0.3s ease-out;
                    -moz-transition    : all 0.3s ease-out;
                    -o-transition      : all 0.3s ease-out;
                    transition         : all 0.3s ease-out;
                    text-transform     : uppercase;
                }

                .clearme {
                    clear : both;
                }

            }

        }

        @at-root .Discount {
            padding : 0 35px;
            @include Adaptive('>ipad-C') {
                padding : 0 0 0 30px;

            }

            @at-root .Discount-Text {

                display        : inline-block;
                width          : 100%;
                padding-bottom : 30px;
                vertical-align : middle;
                color          : #1c0b15;

                @include Adaptive('>ipad-C') {
                    padding-bottom : 0;
                    text-align     : left;

                }

                @include Adaptive('>ipad-C') {

                    width : 50%;

                }

                @at-root .Discount-Title {
                    font-size      : 20px;
                    line-height    : 30px;
                    padding-bottom : 10px;
                    text-transform : uppercase;
                    font-family    : 'MuseoSansCR-900';

                    @include Adaptive('>tablet') {
                        font-size   : 25px;
                        line-height : 35px;
                    }

                    @include Adaptive('>ipad-C') {
                        padding-bottom : 0;
                        font-size      : 30px;
                        line-height    : 40px;
                    }

                }
                @at-root .Discount-Subtitle {
                    font-size      : 24px;
                    line-height    : 30px;
                    text-transform : uppercase;
                    font-family    : 'MuseoSansCR-900';

                    @include Adaptive('>tablet') {
                        font-size   : 34px;
                        line-height : 30px;
                    }

                    @include Adaptive('>ipad-C') {
                        font-size   : 44px;
                        line-height : 40px;
                    }

                    span {
                        font-family : 'MuseoSlabCR-900';
                    }

                }

            }
            @at-root .Discount-Timer {

                display        : inline-block;
                width          : 100%;
                margin-bottom  : -15px;
                vertical-align : middle;
                @include Adaptive('>ipad-C') {
                    width : 49%;

                }

                @at-root .Discount-Warning {
                    margin-bottom : 30px;
                    @include Adaptive('>ipad-C') {
                        margin-bottom : 10px;

                    }

                    font-size     : 20px;
                    font-family   : 'MuseoSansCR-900';

                    @include Adaptive('>tablet') {
                        font-size : 25px;

                    }

                    @include Adaptive('>ipad-C') {
                        font-size : 30px;

                    }

                    span {
                        font-family : 'MuseoSlabCR-900';
                        font-size   : 40px;
                    }
                }

                @at-root .Script-Countdown {
                    max-width   : 700px;
                    margin      : 0 auto;
                    font-size   : 0px;
                    font-family : 'MuseoSansCR-700';


                    @at-root .Script-Days {
                        display       : inline-block;
                        position      : relative;
                        width         : 24%;
                        padding-right : 2%;

                        &:after {
                            content        : "дни";
                            letter-spacing : normal;
                            @extend %Countdown-Descriptions;
                        }

                        @at-root .Script-Days-Number {

                        }

                    }

                    @at-root .Script-Hours {
                        display  : inline-block;
                        position : relative;
                        width    : 26%;
                        padding  : 0 2%;

                        &:after {
                            content : "часы";
                            @extend %Countdown-Descriptions;
                        }

                        @at-root .Script-Hours-Number {

                        }

                    }
                    @at-root .Script-Minutes {
                        display  : inline-block;
                        position : relative;
                        width    : 26%;
                        padding  : 0 2%;

                        &:after {
                            content : "минуты";
                            @extend %Countdown-Descriptions;
                        }

                        @at-root .Script-Minutes-Number {

                        }

                    }
                    @at-root .Script-Seconds {
                        display      : inline-block;
                        position     : relative;
                        width        : 24%;
                        padding-left : 2%;

                        &:after {
                            content : "секунды";
                            @extend %Countdown-Descriptions;
                        }

                        @at-root .Script-Seconds-Number {

                        }

                    }

                }

            }
        }
    }
}

.Dream-Wrap {
    position            : relative;
    z-index             : 1;
    margin-top          : -1100px;
    padding-top         : 1100px;

    background-image    : url(../img/bg/d-sectoin-2-clouds.png);
    background-position : top center;
    background-size     : cover;

    @include Adaptive('>iphone-6') {
        margin-top  : -960px;
        padding-top : 960px;
    }

    @include Adaptive('>nexus-6') {
        margin-top  : -780px;
        padding-top : 780px;
    }

    @include Adaptive('>tablet') {
        margin-top  : -850px;
        padding-top : 850px;
    }
    @include Adaptive('>ipad-P') {
        margin-top  : -788px;
        padding-top : 788px;

    }
    @include Adaptive('>ipad-L') {
        margin-top  : -380px;
        padding-top : 380px;
    }
    @include Adaptive('>ipad-C') {
        margin-top  : -230px;
        padding-top : 230px;
    }
    @include Adaptive('>1250px') {
        margin-top  : -270px;
        padding-top : 270px;

    }

    @at-root .Dream {
        position   : relative;
        max-width  : 1250px;
        margin     : 0 auto;
        padding    : 50px 30px 70px;
        text-align : center;
        @include Adaptive('>ipad-P') {
            padding : 50px 0 70px;

        }

        @at-root .Dream-Candy {
            content  : "";
            display  : none;
            position : absolute;
            left     : -220px;
            top      : -54px;
            @include Adaptive('>tablet') {
                display : block;
            }

        }

        @at-root .Dream-Biscuit {
            content  : "";
            display  : none;
            position : absolute;
            right    : -268px;
            top      : 270px;
            @include Adaptive('>tablet') {
                display : block;
            }
        }


        @at-root .Dream-Btn {
            max-width : 353px;
            margin    : 0 auto;
        }

        @at-root .Dream-Title {
            font-family : 'MuseoSlabCR-900';
            font-size   : 30px;
            @include Adaptive('>ipad-C') {
                font-size : 35px;

            }

            @include Adaptive('>1250px') {
                font-size : 45px;
            }

        }
        @at-root .Dream-List {

            @at-root .Dream-Item {
                position : relative;
                margin   : 0 auto;
                padding  : 50px 0 34px;

                @at-root .Dream-Circle {

                    display          : none;
                    padding          : 32px 0;
                    width            : 88px;
                    background-color : #13793e;
                    border-radius    : 50%;
                    font-size        : 72px;
                    color            : white;
                    position         : absolute;
                    @include Adaptive('>ipad-P') {
                        display : block;

                    }

                }
                @at-root .Dreamcircle-1 {

                    top  : 0;
                    left : -115px;
                }
                @at-root .Dreamcircle-2 {
                    top   : 0;
                    right : -88px;

                }
                @at-root .Dreamcircle-3 {
                    top  : 0;
                    left : -130px;
                }
            }
            @at-root .Dreamitem-1 {
                max-width : 681px;
            }
            @at-root .Dreamitem-2 {
                max-width : 772px;
            }
            @at-root .Dreamitem-3 {
                max-width : 710px;
            }

        }

        @at-root .Public-Promise {
            display        : block;
            max-width      : 1030px;
            margin         : 0 auto;
            text-transform : uppercase;
            font-family    : 'MuseoCR-900';
            line-height    : 30px;
            font-size      : 23px;
            padding        : 40px 0 82px;

        }
    }

}

.Gift-Wrap {
    background : linear-gradient(to top, #0f7836, #18984e);
    background : -webkit-linear-gradient(top, #0f7836 0%, #18984e 100%);
    filter     : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#18984e', endColorstr='#0f7836');

    @at-root .Gift {
        position   : relative;
        max-width  : 1250px;
        margin     : 0 auto;
        padding    : 50px 30px 52px;
        color      : #fff;
        text-align : center;
        @include Adaptive('>tablet') {
            padding : 50px 0px 52px;

        }

        @at-root .Girl-On-Top {
            position : absolute;
            top      : -207px;
            left     : -157px;
            display  : none;
            @include Adaptive('>ipad-L') {
                display : block;

            }

        }


        @at-root .Gift-List {
            font-size      : 0;
            letter-spacing : -4px;

            @at-root .Gift-Item {
                display        : block;
                width          : 100%;
                padding        : 38px 0;
                vertical-align : top;

                @include Adaptive('>tablet') {
                    display : inline-block;
                    width   : 50%;
                    padding : 38px 15px;

                }

                @include Adaptive('>ipad-C') {
                    padding : 38px 25px;
                }

                @include Adaptive('>1250px') {
                    width   : 33%;
                    padding : 38px 44px;

                }

                @at-root .Gift-Image {

                    display       : block;
                    width         : 96px;
                    height        : 96px;
                    margin        : 0 auto 25px;
                    border        : 10px solid white;
                    border-radius : 50%;
                }
                @each $Gift, $nType in (smile, 1),
                        (money, 2),
                        (globus, 3),
                        (heart, 4),
                        (present, 5),
                        (clock, 6) {
                    @at-root .Gift-Image-#{$nType} {
                        background : url("../img/ico/d-#{$Gift}.png") no-repeat center;
                    }
                }
                .Gift-Image-5 {
                    background-position : center 10px;
                }

                @at-root .Gift-Title {
                    padding-bottom : 30px;

                    @include Adaptive('>tablet') {
                        height         : 144px;
                        padding-bottom : 0;

                    }

                    @include Adaptive('>1250px') {

                        height : 124px;

                    }

                    p {
                        font-size : 16px;
                    }

                }

            }

        }

        @at-root .Gift-Btn {
            max-width : 520px;
            margin    : 20px auto 0;

        }
    }

}

.Music-Wrap {
    background : #fff;

    @at-root .Music {
        padding    : 20px 30px 70px;
        text-align : center;

        @at-root .Music-Title {
            color : $Color-Third;
        }
        @at-root .Music-Text {
            font-family : 'MuseoCR-900';
            line-height : 30px;
            font-size   : 23px;
            padding     : 40px 0 0;
        }
        @at-root .Music-Line {
        }
        @at-root .Music-List {
            max-width      : 1112px;
            margin         : 0 auto;
            font-size      : 0;
            letter-spacing : -4px;
            @at-root .Music-Item {
                display : block;
                padding : 50px 30px 0;

                @include Adaptive('>ipad-L') {
                    padding     : 50px 0 0;
                    margin-left : 30%;

                }

                @include Adaptive('>ipad-C') {

                    display : inline-block;
                    width   : 50%;

                }

                @at-root .Music-Name {
                    margin-bottom : 16px;
                    font-size     : 16px;

                }
                @at-root .Music-Audio {
                    max-width : 650px;
                    width     : 100%;
                    display   : inline-block;

                }

            }
        }
    }
}

.Motivation-Wrap {
    background-image    : url(../img/bg/d-sectoin-4-blue.png);
    background-size     : cover;
    background-position : center;
    background-repeat   : no-repeat;

    @at-root .Motivation {
        position   : relative;
        padding    : 74px 0 34px;
        text-align : center;
        @at-root .Motivation-Title {
            font-size : 30px;

            @include Adaptive('>tablet') {
                font-size : 35px;

            }

            @include Adaptive('>ipad-C') {
                font-size : 45px;
            }

        }

        @at-root  .Motivation-Tools {
            font-size : 23px;


            @at-root .Motivation-Tool {
                max-width   : 730px;
                margin      : 0 auto;
                font-family : 'MuseoCR-900';
                line-height : 33px;
            }
            @at-root .Motivation-Accent {
                max-width   : 965px;
                margin      : 0 auto;
                font-family : 'MuseoCR-900';
                line-height : 33px;
            }

        }





        @at-root .Instruction-Wrapp {
            max-width : 777px;
            padding   : 42px 0 0 0;
            @include Adaptive('>ipad-P') {

                padding : 42px 0 0 70px;

            }

            @at-root .Instruction {

                padding    : 58px 30px 0;
                background : #fff;
                text-align : left;
                box-shadow : -8px 45px 53px 10px rgba(129, 129, 129, 0.2);
                @include Adaptive('>tablet') {

                    padding : 58px 80px 0 60px;

                }

                @at-root .Instruction-Title {
                    margin-bottom : 48px;
                    font-family   : 'MuseoSansCR-900';
                    font-size     : 20px;
                    @include Adaptive('>ipad-C') {
                        font-size : 24px;

                    }

                    @include Adaptive('>1250px') {
                        font-size : 34px;
                    }
                }

                @at-root .Instruction-List {

                    @at-root .Instruction-Item {

                        margin-bottom : 25px;


                        @at-root .Instruction-Subtitle {
                            font-family : 'MuseoSansCR-900';

                        }
                        @at-root .Instruction-Sublist {
                            li {
                                font-size   : 16px;
                                line-height : 18px;
                            }
                        }
                    }

                }

                @at-root .Instruction-Btn {
                    position : relative;
                    z-index  : 1;
                }

            }
            @at-root .Instruction-Cut {
                position    : relative;
                height      : 37px;
                margin-left : 37px;
                background  : #fff;
                @at-root .Triangle {
                    position    : absolute;
                    width       : 0;
                    height      : 0;
                    top         : 0;
                    left        : -39px;
                    border-top  : 39px solid #f1f1f1;
                    border-left : 39px solid transparent;

                }

            }

        }


        @at-root .Motivation-Pillow {

            position : absolute;
            top      : 396px;
            left     : 666px;

        }
    }

}
.fey{
    left: -30px;
}

.Responses-Wrap {
    background : #e9fcff;
    @at-root .Responses {
        padding : 60px 5px 60px 15px;

        @include Adaptive('>tablet') {
            padding : 60px 0;

        }

        @at-root .Responses-Title {
            color      : #13793e;
            text-align : center;

        }

        @at-root .Responses-List {
            font-size      : 0;
            letter-spacing : -4px;


            @at-root .Responses-Item {
                display        : block;
                padding        : 33px 0 0;
                font-size      : 0;
                letter-spacing : -4px;
                text-align     : center;

                @include Adaptive('>ipad-C') {
                    display : inline-block;
                    width   : 50%;
                    padding : 30px 0;

                }

                @at-root .Responses-Image {
                    display        : block;
                    width          : 100%;
                    padding        : 15px;
                    vertical-align : middle;
                    @include Adaptive('>ipad-C') {
                        display : inline-block;
                        width   : 30%;
                        padding : 0;

                    }

                    img {
                        border-radius : 50%;
                    }

                }
                @at-root .Responses-Sublist {
                    display        : inline-block;
                    width          : 100%;
                    padding        : 0 25px;
                    vertical-align : middle;
                    letter-spacing : normal;
                    @include Adaptive('>iphone-6') {
                        width : 70%;

                    }

                    @at-root .Responses-Name {
                        font-size   : 18px;
                        font-family : 'MuseoSansCR-900';
                    }
                    @at-root .Responses-Text {
                        font-size      : 16px;
                        line-height    : 16px;
                        padding        : 12px 0 21px;
                        letter-spacing : normal;
                    }
                    @at-root .Responses-Adress {
                        a {
                            color          : $Color-Third;
                            font-size      : 15px;
                            letter-spacing : normal;
                        }
                    }
                }
            }
        }
    }

}

.Footer-Wrap {
    padding    : 44px 30px;
    background : $Color-Third;

    @at-root footer {

        color          : #f0f0f0;
        font-size      : 0;
        letter-spacing : -4px;



        @at-root .Footer-List-1 {
            vertical-align : top;
            @include Adaptive('>ipad-C') {
                display : inline-block;
                width   : 70%;

            }

            @at-root .Footer-Payment {
                @at-root .Footer-Paylist {
                    padding : 10px 0 37px;
                    li {
                        display       : inline-block;
                        max-width     : 50px;
                        margin-right  : 4px;
                        margin-bottom : 8px;

                    }

                    li:nth-of-type(11) {
                        margin-right : 0;
                    }

                    img {
                        border : 1px solid #e3e3e3;
                    }

                }

            }

            @at-root .Footer-Adress {
                max-width      : 260px;
                font-size      : 16px;
                line-height    : 18px;
                padding-bottom : 13px;

            }
            @at-root .Footer-Copyright {
                font-size      : 16px;
                line-height    : 16px;

                vertical-align : middle;
                @include Adaptive('>tablet') {
                    display : inline-block;
                    width   : 50%;

                }

            }
            @at-root .Footer-Socials {
                vertical-align : middle;
                @at-root .Footer-Social {
                    @include Adaptive('>tablet') {
                        padding : 0;

                    }

                    padding : 14px 0 10px;



                    li {
                        display        : inline-block;
                        margin-right   : 14px;
                        vertical-align : middle;

                    }

                    li:nth-of-type(4) {
                        margin-right : 0;
                    }

                    @at-root .Footer-Link {
                        display       : block;
                        width         : 35px;
                        height        : 35px;
                        border-radius : 50%;
                    }

                }


                @include Adaptive('>tablet') {

                    display    : inline-block;
                    width      : 50%;
                    text-align : center;

                }

            }

        }
        @at-root .Footer-List-2 {
            @include Adaptive('>ipad-C') {
                display        : inline-block;
                width          : 30%;
                vertical-align : top;

            }

            @at-root .Footer-Logo {
                margin-bottom : 8px;

            }
            @at-root .Footer-Warnings {
                margin-bottom : 16px;
                @at-root .Footer-Age {
                    display          : inline-block;
                    vertical-align   : middle;
                    border-radius    : 50%;
                    border           : 6px solid #6bc607;
                    width            : 50px;
                    padding          : 7px 0;
                    background-color : #55a004;
                    box-shadow       : inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    span {
                        display        : block;
                        font-size      : 25px;
                        letter-spacing : -1;

                        &:before {
                            content        : "+";
                            display        : inline-block;
                            font-size      : 12px;
                            vertical-align : top;
                        }
                    }

                }
                @at-root .Footer-Warning {
                    display        : inline-block;
                    vertical-align : middle;

                }
                @at-root .Footer-Developers {
                    max-width : 288px;
                    p {
                        font-size : 16px;
                    }

                    img {
                        display        : inline-block;
                        margin         : -4px 12px 0;
                        vertical-align : middle;

                    }
                }

            }

        }

    }
}


