//font-family: 'MuseoCR-900';
//font-family: 'MuseoSansCR-900';
//font-family: 'MuseoSansCR-700';
//font-family: 'MuseoSlabCR-900';

@font-face {
    font-family: 'MuseoCR-900';
    src:         url('../fonts/MuseoCR-900.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/MuseoCR-900.otf') format('opentype'),
                 url('../fonts/MuseoCR-900.woff') format('woff'),
                 url('../fonts/MuseoCR-900.ttf') format('truetype'),
                 url('../fonts/MuseoCR-900.svg#MuseoCR-900') format('svg');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'MuseoSansCR-900';
    src:         url('../fonts/MuseoSansCR-900.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/MuseoSansCR-900.otf') format('opentype'),
                 url('../fonts/MuseoSansCR-900.woff') format('woff'),
                 url('../fonts/MuseoSansCR-900.ttf') format('truetype'),
                 url('../fonts/MuseoSansCR-900.svg#MuseoSansCR-900') format('svg');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'MuseoSansCR-700';
    src:         url('../fonts/MuseoSansCR-700.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/MuseoSansCR-700.otf') format('opentype'),
                 url('../fonts/MuseoSansCR-700.woff') format('woff'),
                 url('../fonts/MuseoSansCR-700.ttf') format('truetype'),
                 url('../fonts/MuseoSansCR-700.svg#MuseoSansCR-700') format('svg');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'MuseoSlabCR-900';
    src:         url('../fonts/MuseoSlabCR-900.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/MuseoSlabCR-900.otf') format('opentype'),
                 url('../fonts/MuseoSlabCR-900.woff') format('woff'),
                 url('../fonts/MuseoSlabCR-900.ttf') format('truetype'),
                 url('../fonts/MuseoSlabCR-900.svg#MuseoSlabCR-900') format('svg');
    font-weight: normal;
    font-style:  normal;
}





