.Maximum-Width {
    max-width     : 1250px;
    margin        : 0 auto;
    padding-left  : 30px;
    padding-right : 30px;

}
.Darkgreen {
    color          : $Color-Third;
    font-size      : inherit;
    text-transform : inherit;
}

.Lightgreen {
    color          : #32ff9d;
    font-size      : inherit;
    text-transform : inherit;
    font-family    : inherit;
}

.Btn {
    display          : block;
    width            : 100%;
    padding          : 25px;
    background-color : #e2231a;
    border           : none;
    border-radius    : 3px;
    font-family      : 'MuseoSansCR-900';
    color            : #fff;
    text-decoration  : none;
    text-align       : center;
    text-transform   : uppercase;
    cursor           : pointer;
    transition       : background-color linear .2s;

    &:hover {
        background-color : #C3030E;
        transition       : background-color linear .2s;

    }
}

.HR-Line {
    position : relative;
    width    : 180px;
    height   : 2px;
    margin   : 20px auto;

}

.HR-Left-White {
    left       : 0;
    right      : 50%;

    background : linear-gradient(to left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    background : -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000 9', endColorstr='#0000', GradientType=1);
    @extend %Hr-Sexy;
    @include Adaptive('>ipad-L') {
        background : linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background : -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff 9', endColorstr='#ffffff', GradientType=1);

    }

}

.HR-Right-White {
    left       : 50%;
    right      : 0;

    background : linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background : -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000', endColorstr='#0000 9', GradientType=1);
    @extend %Hr-Sexy;
    @include Adaptive('>ipad-L') {
        background : linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background : -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff 9', GradientType=1);

    }

}

.HR-Left {
    left       : 0;
    right      : 50%;
    background : linear-gradient(to left, rgba(19, 121, 62, 1), rgba(19, 121, 62, 0));
    background : -webkit-linear-gradient(left, rgba(19, 121, 62, 0), rgba(19, 121, 62, 1));
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#13793e 9', endColorstr='#13793e', GradientType=1);
    @extend %Hr-Sexy;

}

.HR-Right {
    left       : 50%;
    right      : 0;
    background : linear-gradient(to right, rgba(19, 121, 62, 1), rgba(19, 121, 62, 0));
    background : -webkit-linear-gradient(right, rgba(19, 121, 62, 0), rgba(19, 121, 62, 1));
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#13793e', endColorstr='#13793e 9', GradientType=1);
    @extend %Hr-Sexy;

}

.Prefix:before {
    content : "- ";
}

.Script-Number {
    position           : relative;
    display            : inline-block;
    width              : 48%;
    padding            : 12% 0;
    margin             : 0 1% 0;
    border-radius      : 6px;

    background         : linear-gradient(to top, #656566, #dddddd);
    background         : -webkit-linear-gradient(top, #dddddd, #656566);
    filter             : progid:DXImageTransform.Microsoft.gradient(startColorstr='#656566', endColorstr='#dddddd', GradientType=0);

    -webkit-box-shadow : 0px 0px 10px 1px rgba(222, 222, 222, 1);
    -moz-box-shadow    : 0px 0px 10px 1px rgba(222, 222, 222, 1);
    box-shadow         : 0px 0px 10px 1px rgba(222, 222, 222, 1);

    @extend %Countdown-Numbers;

    span {
        position  : relative;
        display   : block;
        font-size : 32px;
        z-index   : 2;

        &:after {
            content    : "";
            display    : block;
            position   : absolute;
            height     : 2px;
            left       : 0;
            right      : 0;
            top        : 50%;
            background : #ffffff;
            opacity    : .5;

        }
        @include Adaptive('>tablet') {
            font-size : 62px;

        }

    }
}

label.Label-Placeholder {
    position  : absolute;
    top       : 24px;
    left      : 20px;
    color     : #212121;
    font-size : 16px;

}

 .Link-1 {
    background          : url("../img/ico/d-vkontakte.png"), #587a9f ;
    background-repeat   : no-repeat;
    background-position : 9px;
    transition: all linear .2s;

}
 .Link-2 {
    background          : url("../img/ico/d-utorrent.png");
    background-color    : #55ac45;
    background-repeat   : no-repeat;
    background-position : center 3px;

}
.Link-3 {
    background          : url("../img/ico/d-youtube.png");
    background-color    : #ff3533;
    background-repeat   : no-repeat;
    background-position : center;

}
.Link-4 {
    background          : url("../img/ico/d-twitter.png");
    background-color    : #2daae1;
    background-repeat   : no-repeat;
    background-position : center;

}

@each $component, $size in (h1: 35px, h2: 38px, h3: 22px, h4:17px, p: 21px, span: 21px) {
    #{$component} {
        font-size : $size;
    }
}

span, h1, h3, .Troll-Title, .Troll-Time, .Motivation-Tool, .Motivation-Accent, .Discount-Warning {
    text-transform : uppercase;
    letter-spacing : normal;
}

li {
    font-family    : 'MuseoSansCR-700';
    font-size      : 21px;
    line-height    : 24px;
    letter-spacing : normal;
}

h1 {
    line-height : 38px;

    @include Adaptive('>ipad-C') {
        font-size   : 42px;
        line-height : 48px;

    }
    @include Adaptive('>1250px') {
        font-size   : 48px;
        line-height : 68px;
    }

}

h2 {
    font-family    : 'MuseoSlabCR-900';
    letter-spacing : normal;
}

h3 {
    font-family : 'MuseoCR-900';

}

span, p, h4 {
    letter-spacing : normal;
}

