
%Hr-Sexy {
    position : absolute;
    height   : 100%;

}

%Countdown-Numbers {


        border-radius : 6px;
        border: 2px solid #8a8a8a;
        background : -moz-linear-gradient(top, #F1F1F1 0%, #F1F2F3 50%, #DCDCDC 50%, #c8c8c8 100%); /* FF3.6-15 */
        background : -webkit-linear-gradient(top, #F1F1F1 0%, #F1F2F3 50%, #DCDCDC 50%, #c8c8c8 100%); /* Chrome10-25,Safari5.1-6 */
        background : linear-gradient(to top, #F1F1F1 0%, #F1F2F3 50%, #DCDCDC 50%, #c8c8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae9ea', endColorstr='#c8c8c8', GradientType=0);


}

%Countdown-Descriptions {
    display        : block;
    margin-top     : 10px;
    font-family    : 'MuseoSansCR-900';
    font-size      : 10px;
    text-transform : uppercase;
    letter-spacing : normal;
    color          : #4b4c4c;
    @include Adaptive('>tablet') {
        font-size : 14px;

    }
}

//
//@include Adaptive('>tablet')
//<audio src="" controls></audio>

//@include Adaptive('>tablet') {
//
//}
//
//@include Adaptive('>ipad-P') {
//
//}
//
//@include Adaptive('>ipad-L') {
//
//}
//
//@include Adaptive('>ipad-C') {
//
//}
//
//@include Adaptive('>1250px') {
//
//}


