.Preloader {
    position         : fixed;
    z-index          : 1000000000;
    width            : 100%;
    height           : 100%;
    top              : 0;
    left             : 0;

    background-color : #fff;

    .Preloader-Row {
        position         : fixed;
        top              : 0;
        left             : 0;
        height           : 10px;
        background-color : #008C43;
    }

    .Preloader-Percent {
        padding     : 10px;

        font-size   : 28px;
        text-align  : center;
        font-family : Arial;
        transition  : 0.3s ease;

        span {
            font-size   : 28px;
            font-family : Arial;
        }
    }

    .Preloader-Content {
        width      : 300px;
        height     : 464px;
        margin     : 0 auto;
        text-align : center;

        img {
            width          : 100%;
            height         : auto;
            padding-bottom : 20px;
        }

    }
}
